You need to install these frameworks:

mac users:

pip install

Windows user:

pip install

Juputer users or google collaborative:

!pip install

----- Install these packages -----

1- fastapi

2- uvicorn

3- requests

4- pydantic

5- google-genai

6- beautifulsoup4